body {
    background: rgb(94,196,210);
    background: linear-gradient(59deg, rgba(94,196,210,1) 0%, rgba(193,184,255,1) 19%, rgba(228,191,252,1) 38%, rgba(239,208,248,1) 58%, rgba(241,186,217,1) 82%, rgba(238,219,175,1) 100%);
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

body, #main {
    min-height: 100vh;
    overflow-x: hidden;
}

#main {
    margin: auto;
    width: fit-content;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: relative;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
}

.list:first-child {
    margin-top: 1rem;
}

.proj-entry {
    margin: 12px;
    width: 100%;
}

.proj-title {
    background-color: rgba(0,0,0,0.5);
    bottom:0;
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
}

.button {
    box-shadow: 0.15rem 0.15rem 0.6rem darkslateblue;
    border-radius: 39px;
    height: 15rem;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0.05rem 0.05rem 0.3rem darkslateblue;
}

.button:hover {
    filter: brightness(1.1);
}

.button:before {
    background-color: rgba(255, 184, 150,0.1);
    border: 0.2rem ridge rgba(255, 184, 150, 0.7);
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.square {
    width: 15rem;
}

.bg {
    /* background color to hide the :before stuff above.*/
    background-color: #1b171f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

a[aria-label="Nepolabo Project 2023"] .bg {
    background-image:url('./art/23.jpg');
}

a[aria-label="Nepolabo Project 2022"] .bg {
    background-image:url('./art/22.png');
}

a[aria-label="Nepolabo Project 2021"] .bg {
    background-image:url('./art/21.png');
}

/* iPhone SE styling ^ */
/* 2nd smallest */
@media (min-width: 450px) {
    .button {
        height: 20rem;
    }
    .square {
        width: 20rem;
    }
}

/* medium */
@media (min-width: 600px) {
    .button {
        height: 25rem;
    }
    .square {
        width: 25rem;
    }
}

/* lrg */
@media (min-width: 900px) {
    .list {
        flex-direction: row;
    }
    .button {
        height: 30rem;
    }
    .square {
        width: 30rem;
    }
}